body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
}

.experience-item h2 {
    font-size: 30px;
}

p {
    text-align: justify;
    color: gray;
    margin-bottom: 20px;
}

.orange {
    color: orange;
}

.flexible_container {
    display: flex;
    padding: 0px 20px;
    margin-bottom: 150px;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    padding-left: 2%;
    padding-right: 4%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(to left, #e64d07, #e76c25);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 10px;
    color: white;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience h1 {
    margin-left: 20px
}


.experience-item {
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    padding-left: 20px;

}

#full_stack_developer {
    border-left: 5px solid tomato;
}

#baby_web_developer {
    border-left: 5px solid blue;
}

footer p {
    text-align: center;
}